[submodule "seasons"]
	path = seasons
	url = git@github.com:kaiserbrito/seasons-app.git
[submodule "pics"]
	path = pics
	url = git@github.com:kaiserbrito/search-picture.git
[submodule "videos"]
	path = videos
	url = git@github.com:kaiserbrito/search-videos.git
[submodule "songs"]
	path = songs
	url = git@github.com:kaiserbrito/songs.git
[submodule "blog"]
	path = blog
	url = git@github.com:kaiserbrito/react-redux-blog.git
[submodule "streams"]
	path = streams
	url = git@github.com:kaiserbrito/streams.git
